[Colors]

DefaultTextColor=#ffffff
SecondaryTextColor=#949494
ActiveTextColor=#00a500
DisabledTextColor=#525252
PaintedTextColor=#000000

ReversedTextColor=#000000
ReversedSecondaryTextColor=#949494
ReversedActiveTextColor=#00a500
ReversedDisabledTextColor=#949494
ReversedPaintedTextColor=#ffffff

DefaultBackgroundColor=#181818
DarkerBackgroundColor=#000000
ReversedBackgroundColor=#ffffff
SelectionColor=#424242
ReversedSelectionColor=#424242

ContentBackgroundColor=#000000
ContentFrameColor=#000000
ContentSelectionColor=#00a500

TitleTextColor=#ffffff
ButtonTextColor=#ffffff
ButtonTextPressedColor=#ffffff
ButtonTextDisabledColor=#525252

AccentColor1=#5a9cf7
AccentColor2=#ce73ef
AccentColor3=#f79c4a
AttentionColor=#ff0000

NotificationBackgroundColor=#bdbdbd
NotificationTextColor=#000000
NotificationSecondaryTextColor=#292929
