[Desktop Entry]
Encoding=UTF-8
Version=1.4.34
Type=Application
Name=game_ap_chess_name
X-Text-Domain=osso-games
Exec=/usr/bin/chessui.launch
Icon=tasklaunch_chess
Categories=Games
Comment=game_ap_chess_name_thumb
MimeType=application/game
X-Icon-path=/usr/share/pixmaps/
X-Window-Icon=tn-bookmarks-link
X-HildonDesk-ShowInToolbars=true
X-Osso-Service=com.nokia.osso_chess.startup
X-Osso-Type=application/x-executable
StartupWMClass=chess_startup
