[Colors]

DefaultTextColor=#ffffff
SecondaryTextColor=#999999
ActiveTextColor=#f47500
DisabledTextColor=#464646
PaintedTextColor=#241100

ReversedTextColor=#000000
ReversedSecondaryTextColor=#999999
ReversedActiveTextColor=#f47500
ReversedDisabledTextColor=#464646
ReversedPaintedTextColor=#241100

DefaultBackgroundColor=#101010
DarkerBackgroundColor=#000000
ReversedBackgroundColor=#ffffff
SelectionColor=#f47500
ReversedSelectionColor=#f47500

ContentBackgroundColor=#000000
ContentFrameColor=#000000
ContentSelectionColor=#f47500

TitleTextColor=#ffffff
ButtonTextColor=#ffffff
ButtonTextPressedColor=#ffffff
ButtonTextDisabledColor=#464646

AccentColor1=#f47500
AccentColor2=#999999
AccentColor3=#f47500
AttentionColor=#e3002a

NotificationBackgroundColor=#efcb00
NotificationTextColor=#491b03
NotificationSecondaryTextColor=#999999
