[Desktop Entry]
Encoding=UTF-8
Name=Tracker
Name[ar]=المُقتفي
Name[be]=Трэкер
Name[be@latin]=Tracker
Name[ca]=Tracker
Name[cs]=Tracker
Name[da]=Tracker
Name[de]=Tracker
Name[el]=Εύρεση (Tracker)
Name[en_GB]=Tracker
Name[es]=Tracker
Name[fi]=Tracker
Name[fr]=Tracker
Name[gl]=Tracker
Name[he]=‏Tracker
Name[hu]=Tracker
Name[it]=Tracker
Name[ja]=Tracker
Name[ko]=트래커
Name[lt]=Tracker
Name[nb]=Tracker
Name[nl]=Tracker
Name[oc]=Tracker
Name[pl]=Tracker
Name[pt]=Tracker
Name[pt_BR]=Tracker
Name[sk]=Tracker
Name[sl]=Tracker
Name[sv]=Tracker
Name[th]=Tracker
Name[zh_CN]=Tracker
Comment=Tracker search and indexing service
Comment[ar]=خدمة بحث وقهرسة المُقتفي
Comment[be@latin]=Pasłuha pošuku i indeksavańnia Trackera
Comment[ca]=Servei de cerca i d'indexació Tracker
Comment[cs]=Prohledávací a indexovací služba Tracker
Comment[da]=Tracker søge- og indekseringstjeneste
Comment[de]=Tracker Such- und Indizierungsdienst
Comment[el]=Υπηρεσία αναζήτησης και ευρετηρίασης
Comment[en_GB]=Tracker search and indexing service
Comment[es]=Servicio de búsqueda e indexado Tracker
Comment[fi]=Haku- ja indeksointipalvelu
Comment[fr]=Service de recherche et d'indexation Tracker
Comment[gl]=Servizo de busca e indexación do Tracker
Comment[hu]=Tracker kereső- és indexelő szolgáltatás
Comment[it]=Servizio di ricerca e indicizzazione Tracker
Comment[ja]=Tracker 検索と索引サービス
Comment[ko]=트래커 찾기 및 인덱싱 서비스
Comment[lt]=Paieškos ir indeksavimo tarnyba Tracker
Comment[nl]=Tracker zoek- en indexeringsdienst
Comment[pl]=Usługa indeksowania i wyszukiwania Tracker
Comment[pt]=Serviço de procura e indexação Tracker
Comment[pt_BR]=Serviço de Pesquisa e Indexação Tracker
Comment[ru]=Служба поиска и индексирования Tracker
Comment[sk]=Služba Tracker na hľadanie a indexovanie
Comment[sl]=Tracker storitev iskanja in priprave kazala
Comment[sv]=Sök- och indexeringstjänsten Tracker
Comment[th]=บริการสืบค้นและทำดัชนี Tracker
Comment[zh_CN]=Tracker 搜索与索引服务
Icon=
Exec=/usr/lib/tracker/trackerd
Terminal=false
Type=Application
Categories=
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel
X-KDE-StartupNotify=false
X-KDE-UniqueApplet=true
NoDisplay=true
OnlyShowIn=GNOME;KDE;XFCE;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=tracker
X-GNOME-Bugzilla-Component=Indexer
X-GNOME-Bugzilla-Version=0.6.95

